<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/agregarreto.css">
</head>
<body>

    <div id="container">
        <h1 id="titulo">Agregar reto</h1>
        <input type="text" id="nombre" placeholder="Nombre del reto">
        <input type="text" id="descripcion" placeholder="Descripcion del reto">
        <input type="text" id="puntos" placeholder="Puntos de este reto">
        <button id="save" type="submit">Guardar Reto</button>
    </div>




</body>
</html>